__pycache__
.junit_report.xml
.idea

.mypy_cache
.dmypy.json
.pytest_cache

*.env
!ci.env
node_modules
.coverage
coverage.xml
coverage.json

backend/static
backend/frontend-dist

/process-compose.yml
