__pycache__
uv.lock
.junit_report.xml
.idea

.mypy_cache
.dmypy.json
.pytest_cache
.yarn

*.env
!ci.env
node_modules
.coverage
coverage.xml
coverage.json

backend/yarn.lock
backend/static

/process-compose.yml
