[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiofiles = "24.1.0"
aiohttp = "3.12.2"
aiopg = "1.4.0"
alembic = "1.16.1"
bcrypt = "4.3.0"
click = "8.2.0"
databases = {extras = ["asyncpg"], version = "<=0.8.0"}
fastapi = "0.116.0"
fastapi-sso = "0.18.0"
gunicorn = "23.0.0"
heliclockter = "2.0.0"
parameterized = "0.9.0"
passlib = "1.7.4"
pydantic = "2.11.1"
pydantic_settings = "2.1.0"
pyjwt = "2.10.1"
python-dotenv = "1.1.0"
python-multipart = "0.0.20"
sentry-sdk = "2.35.0"
sqlalchemy = "1.4.54"
sqlalchemy-stubs = "0.4"
starlette = "0.46.2"
types-aiofiles = "24.1.0.20241221"
types-passlib = "1.7.7.20241221"
types-simplejson = "3.20.0.20250218"
uvicorn = "0.35.0"

[dev-packages]
aioresponses = "0.7.4"
mypy = "1.17.0"
pluggy = "1.6.0"
pylint = "3.3.1"
pytest = "8.4.0"
pytest-asyncio = "1.1.0"
pytest-cov = "6.2.0"
pytest-xdist = "3.8.0"
ruff = "0.12.2"
vulture = "2.14"

[requires]
python_version = "3.12"
