name: docker build

permissions:
  contents: read
  packages: read

on:
  workflow_dispatch:
  pull_request:
    paths:
      - '.github/**'
      - 'backend/**'
      - 'frontend/**'
      - 'Dockerfile'
      - 'docker-compose.yml'
  push:
    branches:
      - 'master'

jobs:
  docker-build:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build frontend Docker image
        uses: docker/build-push-action@v6
        with:
          context: frontend
          push: false
          file: frontend/Dockerfile
          # Don't build linux/arm64/v8 because it's very slow with QEMU
          platforms: linux/amd64

      - name: Build backend Docker image
        uses: docker/build-push-action@v6
        with:
          context: backend
          push: false
          file: backend/Dockerfile
          # Don't build linux/arm64/v8 because it's very slow with QEMU
          platforms: linux/amd64

      - name: Build combined Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./
          push: false
          file: Dockerfile
          # Don't build linux/arm64/v8 because it's very slow with QEMU
          platforms: linux/amd64
