name: docker

on:
  workflow_dispatch:
  push:
    branches:
      - 'master'
  pull_request:
    paths:
      - 'backend/**'
      - 'frontend/**'

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Build backend Docker image
        run: sudo docker build .
        working-directory: backend

      - name: Build frontend Docker image
        run: sudo docker build .
        working-directory: frontend
