name: docs

permissions:
  contents: write

on:
  workflow_dispatch:
  push:
    branches:
      - 'master'

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5

      - name: Enable Corepack
        run: corepack enable

      - name: Setup pnpm
        uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: 'pnpm'
          cache-dependency-path: docs/pnpm-lock.yaml

      - name: Install pnpm modules
        run: pnpm i
        working-directory: docs

      - name: Build docs
        run: SITE_URL=https://docs.bracketapp.nl pnpm build
        working-directory: docs

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4.7.1
        with:
          branch: gh-pages
          folder: docs/out
