name: docs test

on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'docs/**'
  push:
    branches:
      - 'master'

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6

      - name: Enable Corepack
        run: corepack enable

      - name: Setup pnpm
        uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: 'pnpm'
          cache-dependency-path: docs/pnpm-lock.yaml

      - name: Install pnpm modules
        run: pnpm i
        working-directory: docs

      - name: Run tests
        run: pnpm test-check
        working-directory: docs

      - name: Build docs
        run: SITE_URL=https://docs.bracketapp.nl pnpm build
        working-directory: docs
