name: frontend

permissions:
  contents: read

on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'frontend/**'
  push:
    branches:
      - 'master'

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6

      - name: Enable Corepack
        run: corepack enable

      - name: Setup pnpm
        uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: 'pnpm'
          cache-dependency-path: frontend/pnpm-lock.yaml

      - name: Install npm modules
        run: pnpm i
        working-directory: frontend

      - name: Run prettier, lint, jest checks
        run: pnpm test
        working-directory: frontend
